* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #cccccc;
    margin-top: 80px; 
    background-repeat: no-repeat;
    background-size: contain;
}

#form label {
    display: block;
    margin-left: 20px;
    text-transform: uppercase;
    text-shadow: 3px 2px #ccc  
}



#form input[type="text"] {
    width: 200px;
    padding: 6px;
    margin-bottom: 10px;             
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#button {
    display: block;
    width: 215px;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#button:hover {
    background: #444;
}

.error {
    background: orangered;
    color: #fff;
    width: 200px;
    padding: 5px;
    margin: 5px;
}  